body {
    font-family: Inter, sans-serif;
    background: #f5f6fa;
    margin: 0;
}

.login-container {
    width: 350px;
    margin: 120px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.msg {
    color: red;
    text-align: center;
}

.admin-header {
    background: black;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.admin-container {
    padding: 25px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.product-table th, .product-table td {
    padding: 10px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.product-table img {
    border-radius: 6px;
}

.btn-edit {
    color: blue;
}

.btn-delete {
    color: red;
}
